# ---------------------------
# OS / Editor
# ---------------------------
.DS_Store
Thumbs.db
Icon?
._*


# ---------------------------
# Frontend / React
# ---------------------------

frontend/node_modules
frontend/public
.gitignore

# ---------------------------
# Backend / python
# ---------------------------
backend/__pycache__
backend/*/__pycache__
backend/*/*/__pycache__
__init__.*

# ---------------------------
# Tests / Coverage
# ---------------------------
coverage/
.nyc_output/
junit.xml

# ---------------------------
# Env / Secrets / Keys
# ---------------------------
.env
.env.*
.venv
.venv.*
*.secret.*
.venv/
secrets/
tokens/
private/
*.key
*.pem
*.p12
*.crt

# ---------------------------
# Logs / Reports
# ---------------------------
*.log
*.trace
*.stacktrace


